
<div fxLayout="row" fxLayoutAlign="center" >
    <h4 style="color:#73777B;font-size:27px;">Liste des groupes</h4>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;">  Nom  </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
    <ng-container matColumnDef="NbEtudiants">
      <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;">  Nombre Etudiants  </th>
      <td mat-cell *matCellDef="let element"> {{element.nbEtudiants}} </td>
    </ng-container>
  
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;"> action </th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button routerLink="{{element.id}}/edit" style="color: darkcyan"><mat-icon>edit</mat-icon> </button>
              <button mat-icon-button (click)="OnRemove(element.id)" ><mat-icon color="warn" >delete</mat-icon></button>
           </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  <br>
  <br>
  <br>
  <div fxLayout="row" fxLayoutAlign="center" >
    <button mat-button color="primary"  routerLink="/groupes/create" style="font-size:18px;" >Ajouter</button>
  </div>
  
  
  