
<div fxLayout="row" fxLayoutAlign="center" >
    <h4 style="color:#73777B;font-size:27px;">List of accounts</h4>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <button mat-button color="primary"  routerLink="/accounts/create" style="font-size:18px;" ><mat-icon>person_add</mat-icon>  Create</button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
      
      <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;"> RIB </th>
          <td mat-cell *matCellDef="let element"> {{element.rib}} </td>
      </ng-container>
      <ng-container matColumnDef="id_client">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;">  Client  </th>
          <td mat-cell *matCellDef="let element"> {{element.client.nom}} {{element.client.prenom}} </td>
      </ng-container>
    <ng-container matColumnDef="solde">
      <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;">  Amount  </th>
      <td mat-cell *matCellDef="let element"> {{element.solde}} </td>
    </ng-container>
  
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef  style="color:#112B3C;font-size:15px;"> Action </th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button routerLink="{{element.rib}}/edit" style="color: darkcyan"><mat-icon>edit</mat-icon> </button>
              <button mat-icon-button (click)="OnRemove(element.rib)" ><mat-icon color="warn" >delete</mat-icon></button>
           </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  
  
  
  