<br>
<mat-card  >

  <div  >
  <div fxLayoutAlign="center" fxLayou>
  <mat-card-title >Projet SpringBoot</mat-card-title>
  </div>
  <div fxLayoutAlign="center" fxLayou>
  <mat-card-subtitle>COURS DE JOUR</mat-card-subtitle>
  </div>
  </div>



  <mat-card-actions fxLayoutAlign="center" fxLayout>
    <button fxLayoutAlign="center" fxLayout mat-icon-button color="primary"  (click) =tryGoogleLogin() style="font-size:18px;" ><mat-icon><img mat-card-image src="https://cdn-teams-slug.flaticon.com/google.jpg" style="width: 25px; height: 25px;"> </mat-icon>SIGN IN WITH GOOGLE</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
  </mat-card>
