<form  [formGroup]="form" (ngSubmit)="onsub()">
    <div fxLayout="row" fxLayoutAlign="center" >
      <h4 style="color:#73777B;font-size:30px;">Informations de l'affectation</h4>
    </div>
          <mat-form-field appearance="legacy">
              <mat-label>Liste des matieres </mat-label>
              <mat-select [(ngModel)]="selectedValueM" formControlName="matiere">
                  <mat-option *ngFor="let element of TabMatiere" [value]="element">
                      {{element.nom}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <br> 
          <mat-form-field appearance="legacy">
            <mat-label>Liste des groupes </mat-label>
            <mat-select [(ngModel)]="selectedValueG" formControlName="groupe">
                <mat-option *ngFor="let element of TabGroupe" [value]="element">
                    {{element.nom}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <mat-label>Liste des enseignants </mat-label>
            <mat-select [(ngModel)]="selectedValueE" formControlName="enseignant">
                <mat-option *ngFor="let element of TabEnseignant" [value]="element">
                    {{element.username}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
      <br><br><br><br>
    <div fxLayout="row" fxLayoutAlign="center" >
      <button mat-button color="primary"  routerLink="/affectations" style="font-size:18px;"  >Annuler</button>
      <button mat-button color="primary"  type="submit"  style="font-size:18px;">Valider</button>
    </div>
  
  
  </form>
  