<section class="content">
  <div class="container-fluid">
    <div >
      <h4 style="color:#73777B;font-size:27px;">Dashboard </h4>
    </div>
    <div class="row">
    

    <div class="col-12">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{NbMembers}}</h3>
          <p>Clients</p>
        </div>
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <a href="clients" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>


    <div class="col-12">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{nbEvents}}</h3>
          <p>Accounts</p>
        </div>
        <div class="icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <a href="/accounts" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    </div>
    <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->
  </div>

</section>
